*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles/

#src
*.sqlite*

.env
.vscode/
venv/
.venv/

env/
media/
*.log

/static/

# Large media files
*.mp4
*.mov
*.avi
*.mkv
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.webp

# Large static assets
custom_static/assets/videos/
custom_static/assets/img/