#Create a ".env" file in root directory and copy this file to the ".env" file before running docker to ensure no issues when running. 

# True for development, False for production
DEBUG=True

SECRET_KEY=<STRONG_KEY_HERE>

# Database Configuration
DB_ENGINE=postgresql
DB_HOST=db
DB_NAME=hardhat_db
DB_USERNAME=hardhat_user
DB_PASS=hardhat_password
DB_PORT=5432

# Python/Django Configuration
PYTHONUNBUFFERED=1
DJANGO_SETTINGS_MODULE=core.settings

# Microsoft Azure AD Authentication
MICROSOFT_CLIENT_ID=550b92bc-e30d-415c-8f08-ec4dddff455d
MICROSOFT_CLIENT_SECRET=your_microsoft_client_secret_here
MICROSOFT_TENANT_ID=d02378ec-1688-46d5-8540-1c28b5f470f6