# True for development, False for production
DEBUG=True

SECRET_KEY=<STRONG_KEY_HERE>

# Database Configuration
DB_ENGINE=postgresql
DB_HOST=db
DB_NAME=hardhat_db
DB_USERNAME=hardhat_user
DB_PASS=hardhat_password
DB_PORT=5432

# Python/Django Configuration
PYTHONUNBUFFERED=1
DJANGO_SETTINGS_MODULE=core.settings
