# Core
django==4.1.12
python-dotenv==1.0.0
django-extensions==3.2.3
factory-boy==3.3.0
django-light==0.1.0.post3


# UI
django-theme-pixel==1.0.3

# Deployment
whitenoise==6.5.0
gunicorn==21.2.0

# psycopg2-binary
# mysqlclient

#blog
django-crispy-forms==2.0
django-tinymce==3.7.1
crispy-bootstrap5
