{% extends 'layouts/base.html' %} {% block content %} {% include
'includes/pre-loader.html' %} {% if complete %}
<div class="row">
  <div class="col-md-6 col-12 mx-md-auto mx-3 mt-7 mb-5">
    <div class="mx-auto text-success" style="width: 50px;height:50px;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
      </svg>
      
    </div>
    <h4 class="text-center p-3">Application Submitted Successfully!</h4>
    <p>
      Thank you for applying to join our team! 
      We have received your application and will be reviewing it shortly. 
      If your qualifications match our requirements, 
      we will reach out to you for the next steps.
    </p>
  <div class="text-center">
    <a class="btn text-center btn-sm btn-dark text-white" href="{% url 'career-list' %}" >
    </h6 class="text-muted">Continue</h6>
  </a>
  </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-md-6 col-12 mx-md-auto mx-3 mt-7 mb-5">
    <h2 class="fw-bolder">{{job.title}} Applcation Form</h2>
    <p class="pt-3">
      This form is designed to make your application process seamless and
      straightforward. It collects all the necessary details to submit your
      application for a position within our company. Please provide accurate and
      detailed information to ensure we have all the context needed to evaluate
      your application.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-12 mx-md-auto mx-3 mt-2 mb-5">
    <form
      method="post"
      enctype="multipart/form-data"
      class="needs-validation"
      novalidate
    >
      {% csrf_token %}
      <!-- Render form fields with Bootstrap classes -->
      <div class="row g-3">
        {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }} {{ field }}
          <div class="form-text text-danger">
            {% for error in field.errors %} {{ error }} {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="mt-4">
        <button type="submit" class="btn btn-primary w-100">
          Submit Application
        </button>
      </div>
    </form>
  </div>
</div>
{% endif %} {% endblock content %}
