{% extends 'layouts/base.html' %} {% block content %} {% include
'includes/pre-loader.html' %}
<div class="row">
  <div class="col-md-6 col-12 mx-md-auto mx-3 mt-7 mb-5">
    <h1 class="fw-bolder">Hardhat Enterprise Careers</h1>
    <h5 class="text-muted">
      It's a careers page for Hardhat Enterprise students
    </h5>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-12 mx-md-auto mx-3 mt-2 mb-5">
    <h3 class="fw-bold">{{ job.title }}</h3>
    <h4>Type: {{ job.get_job_type_display }}</h4>
    <hr />
    {{job.description |safe}}
    <hr />
    <p class="text-muted">Posted: {{ job.posted_date }}</p>
    <p class="text-muted">Closing Date: {{ job.closing_date }}</p>
    <a href="{% url "career-application" job.id %}" class="btn btn-tertiary border-0 px-5">Apply</a>
  </div>
</div>
{% endblock content %}
