{% extends 'layouts/base.html' %} {% block content %} {% include
'includes/pre-loader.html' %}
<div class="row">
  <div class="col-md-6 col-12 mx-md-auto mx-3 mt-7 mb-5">
    <h1 class="fw-bolder">Hardhat Enterprise Careers</h1>
    <h5 class="text-muted">
      It's a careers page for Hardhat Enterprise students
    </h5>
  </div>
</div>
{% if jobs.count < 1%}
<div class="col-md-6 mx-md-auto col-12">
  <h5 class="p-3 fw-bold">There are no open positions at the moment</h5>
</div>
{% endif %} {% for job in jobs %}
<div class="row">
  <div class="col-md-6 col-12 mx-md-auto mx-3 mt-2 mb-5">
    <a href="{% url 'career-detail' job.id %}">
      <h3 class="fw-bold">{{ job.title }}</h3>
    </a>
    <p class="text-muted">Type: {{ job.posted_date }}</p>
    <p class="text-muted">Posted: {{ job.posted_date }}</p>
    <p class="text-muted">Closing Date: {{ job.posted_date }}</p>
  </div>
</div>
{% endfor %} {% endblock content %}
