{% load static %}

<footer class="footer pt-6 pb-5 bg-secondary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="text-white" style="margin-top: 0;">
          Hardhat Enterprises offers open-source protection, so it's free for
          everyone.
        </p>
        <ul class="social-buttons mb-4 mb-lg-0">
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=61563816997325&sk=about"
              class="icon-white me-2"
              target="_blank"
              aria-label="facebook social link"
            >
              <span class="fab fa-facebook"></span>
            </a>
          </li>
          <li>
            <a
              href="https://github.com/Hardhat-Enterprises/website"
              aria-label="github social link"
              class="icon-white me-2"
              target="_blank"
            >
              <span class="fab fa-github"></span>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/hardhat-enterprises/about/"
              class="icon-white me-2"
              aria-label="linkedin social link"
              target="_blank"
            >
              <span class="fab fa-linkedin"></span>
            </a>
          </li>
        </ul>
      </div>

      
      <div class="col-6 col-md-2 mb-4 mb-lg-0">
        <ul class="footer-links">
          <li><a href="{% url 'blog' %}" class="nav-link" style="padding-top: 0;">Blog</a></li>
          <li><a href="{% url 'index' %}" class="nav-link" style="padding-top: 0;">Home</a></li>


     {% comment %} # <div class="col-6 col-md-2 mb-4 mb-lg-0">
     #   <ul class="footer-links">
     #     <li>
     #       <a href="{% url 'blog' %}" class="nav-link" style="padding-top: 0"
     #         >Blog</a
     #       >
     #     </li>
     #     <li>
     #       <a href="{% url 'index' %}" class="nav-link" style="padding-top: 0"
     #         >Home</a
     #       >
     #     </li> {% endcomment %}

        </ul>
      </div>
      <div class="col-6 col-md-2 mb-4 mb-lg-0">
        <ul class="footer-links">

          <li><a href="{% url 'about_us' %}" class="nav-link" style="padding-top: 0;">About Us</a></li>
          <li>
            <a href="{% url 'contact-central' %}" class="nav-link" style="padding-top: 0;">Contact Us</a>

       {% comment %} #   <li>
       #     <a
       #       href="{% url 'about_us' %}"
       #       class="nav-link"
       #       style="padding-top: 0"
       #       >About Us</a
       #     >
       #   </li>
       #   <li>
       #     <a href="{% url 'contact-central' %}" class="nav-link"
       #       >Contact Us</a
       #     > {% endcomment %}

          </li>
            <li class="nav-item">
              <a href="{% url 'feedback' %}" class="nav-link">Feedback</a>
           </li>

          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4 mb-4 mb-lg-0">
        <span class="h5">The OWASP Top 10</span>
        <p class="text-muted font-small mt-2">
          Learn more about cyber security standards and applications
        </p>
        <form action="#">
          <div class="form-row mb-2">
            <div class="col-12 d-grid">
              <a
                href="https://owasp.org/www-project-top-ten/"
                target="_blank"
                class="btn btn-secondary"
                >OWASP Top 10</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
    <hr class="bg-secondary my-3 my-lg-5" />
    <div class="row">
      <div class="col mb-md-0">
        <a href="{% url 'index' %}" class="d-flex justify-content-center mb-3">
          <img
            src="{% static 'assets/img/brand/logo.svg' %}"
            height="30"
            class="me-2"
            alt="hardhat Logo"
          />
          <p class="fw-bold footer-logo-text m-0 text-white">HardHat Enterprises</p>
        </a>
        <div
          class="d-flex text-center justify-content-center align-items-center"
          role="contentinfo"
        >
          <p class="fw-normal font-small mb-0 text-muted">
            &copy; copyright 2023.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-visit-counter text-center mt-4">
    <p class="font-small text-muted">
        <span class="text-white">This page has been visited </span>
        <span id="visit-counter" class="fw-bold text-warning">0</span>
        <span class="text-white"> times!</span>
    </p>
</div>

  <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
    <div class="container mt-5">
      <div class="alert alert-custom" role="alert">
        <strong>Last Updated:</strong> <span id="last-updated"></span>
      </div>
    </div>
  </div>
  <style>
    .alert-custom {
        background-color: transparent; /* Removes the background color */
        border: none;                  /* Removes the border */
        box-shadow: none;              /* Removes the box shadow if present */
    }
</style>
  <script>// script.js
    // script.js

    // Function to format the date
    function formatDate(date) {
      return date.toLocaleDateString() + ' ' + 'at' + ' ' + date.toLocaleTimeString();
    }

    // Update the last updated time on page load
    window.onload = function () {
      const lastUpdatedElement = document.getElementById('last-updated');
      const lastUpdatedDate = new Date(document.lastModified);
      lastUpdatedElement.textContent = formatDate(lastUpdatedDate);
    };

  </script>
</footer>
