{% load static %}

<header class="header-global">



    {% comment %} <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-tertiary navbar-light">
        <div class="container position-relative">
            <a class="navbar-brand me-lg-5" href="/">
                <img class="navbar-brand-dark" src="{% static 'assets/img/brand/logo.svg' %}" alt="Logo light">
                <img class="navbar-brand-light" src="{% static 'assets/img/brand/logo.svg' %}" alt="Logo dark">
            </a>
            <div class="navbar-collapse collapse me-auto" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="/">
                                <img src="{% static 'assets/img/brand/dark.svg' %}" alt="Themesberg logo">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about_us' %}" class="nav-link">
                            About
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="frontPagesDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                            Projects
                            <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu px-0 py-2 p-lg-4" aria-labelledby="frontPagesDropdown">
                            <div class="row">
                                <div class="col">
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'appattack' %}">AppAttack</a>
                                        </li>
                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'malware_viz_main' %}">Malware</a>
                                        </li>
                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'ptgui_viz_main' %}">PT-GUI</a>
                                        </li>
                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'smishing_detection_main' %}">Smishing Detection</a>
                                        </li>
                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'Vr_main' %}">CyberSafe VR</a>
                                        </li>
                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'Deakin_Threat_mirror_main' %}">Threat mirror</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-mobile-link">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                        {% else %}
                        <a href="{% url 'login' %}" class="nav-link">Sign In</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}"
                   class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3"><span class="fas fa-sign-out-alt me-2"></span> Logout</a>
                {% else %}
                <a href="{% url 'login' %}"
                   class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3"><span class="fas fa-sign-in-alt me-2"></span> Sign In</a>
                {% endif %}
                <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    </nav> {% endcomment %}



    <nav id="navbar-main"
         aria-label="Primary navigation"
         class="navbar navbar-main navbar-expand-lg navbar-theme-tertiary navbar-light">
        <div class="container position-relative">
            <a class="navbar-brand me-lg-5" href="/">
                <img class="navbar-brand-dark"
                     src="{% static 'assets/img/brand/logo.svg' %}"
                     alt="Logo light" />
                <img class="navbar-brand-light"
                     src="{% static 'assets/img/brand/logo.svg' %}"
                     alt="Logo dark" />
            </a>
            <div class="navbar-collapse collapse me-auto" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="/">
                                <img src="{% static 'assets/img/brand/dark.svg' %}"
                                     alt="Themesberg logo" />
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global"
                               class="fas fa-times"
                               data-bs-toggle="collapse"
                               data-bs-target="#navbar_global"
                               aria-controls="navbar_global"
                               aria-expanded="false"
                               title="close"
                               aria-label="Toggle navigation"></a>
                        </div>

                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link"> Home </a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a href="#"
                           class="nav-link dropdown-toggle"
                           id="frontPagesDropdown"
                           aria-expanded="false"
                           data-bs-toggle="dropdown">
                            Upskilling
                            <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu px-0 py-2 p-lg-4"
                             aria-labelledby="frontPagesDropdown">
                            <div class="row">
                                <div class="col">
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'dashboard' %}">Dashboard</a>
                                        </li>
                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'upskilling' %}">Skills</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}


                    <li class="nav-item">
                        <a href="{% url 'about_us' %}" class="nav-link"> About </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#"
                           class="nav-link dropdown-toggle"
                           id="frontPagesDropdown"
                           aria-expanded="false"
                           data-bs-toggle="dropdown">
                            Projects
                            <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu px-0 py-2 p-lg-4"
                             aria-labelledby="frontPagesDropdown">
                            <div class="row">
                                <div class="col">
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'appattack' %}">AppAttack</a>
                                        </li>
                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'malware_viz_main' %}">Malware</a>
                                        </li>
                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'ptgui_viz_main' %}">PT-GUI</a>
                                        </li>


                                        <li class="mb-2 menu-item">
                                            <a class="menu-link"
                                               href="{% url 'smishing_detection_main' %}">Smishing Detection</a>
                                        </li>


                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'Vr_main' %}">Deakin CyberSafe VR</a>
                                        </li>
                                        <li class="mb-2 menu-item">
                                            <a class="menu-link" href="{% url 'Deakin_Threat_mirror_main' %}">Deakin Threat mirror</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="nav-item">
                        <a href="{% url 'blog' %}" class="nav-link"> Blog </a>
                    </li>

                </ul>


                {% comment %} <!--action="{% url 'pages/search-results'%}"--> {% endcomment %}

                <form class="d-flex align-items-center" method=POST action="{% url 'pages/search-results'%}">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" style="margin-left: 50px;" placeholder="Search..." aria-label="Search" name="searched">
                    <button class="btn btn-outline-gray-100 me-md-3 px-4" style="margin-left: 10px;" type="submit">Search</button>
                </form>

            </div>
            <div class="d-flex align-items-center">
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}"
                   class="btn btn-outline-gray-100 me-md-3"><span class="fas fa-sign-out-alt me-2"></span> Logout</a>
                {% else %}
                <a href="{% url 'login' %}"
                   class="btn btn-outline-gray-100 me-md-3"><span class="fas fa-sign-in-alt me-2"></span> Sign In</a>
                {% endif %}
                <button class="navbar-toggler ms-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbar_global"
                        aria-controls="navbar_global"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
    <div id="myModal" class="modal">
        <div class="d-flex-center" style="padding:90px 0px 30px 0px;">
            <div class="card" style="width: 100%; max-width: 500px; margin:auto; border-radius:0px !important; padding-bottom: 40px;">
                <button id="close-btn" style="padding: 20px;position: absolute;right: 0;outline: none;border: 0px;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="d-flex flex-column " style="background-color: #ffc307; padding:40px 20px 20px 20px;">
                    <h5 class="card-titles">Send us your feedback !</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                </div>
                <div class="card-body">

                    <form>
                        <div class="mb-3">
                            <label for="feedbackTextarea" class="form-label">Plase rate here</label>
                            <div class="d-flex justify-content-between">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rating" id="rating1" value="excellent">
                                    <label class="form-check-label" for="rating1">
                                        <span>☹️ Poor</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rating" id="rating1" value="excellent">
                                    <label class="form-check-label" for="rating1">
                                        <span>😐 Average</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rating" id="rating1" value="excellent">
                                    <label class="form-check-label" for="rating1">
                                        <span>😊 Good</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="feedbackTextarea" class="form-label">Describe Your Experince Here</label>
                            <textarea class="form-control" id="feedbackTextarea" rows="4"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">How would you rate us?</label>

                            <div class="d-flex justify-content-between">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rating" id="rating1" value="excellent">
                                    <label class="form-check-label" for="rating1">
                                        Bug
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rating" id="rating2" value="good">
                                    <label class="form-check-label" for="rating2">
                                        Suggestion
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rating" id="rating3" value="poor">
                                    <label class="form-check-label" for="rating3">
                                        Other
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Success Message Modal -->
    <div id="successModal" class="modal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5);">
        <div class="d-flex-center" style="padding:90px 0px 30px 0px;">
            <div class="card" style="width: 100%; max-width: 500px; margin:auto; border-radius:0px !important; padding-bottom: 40px;">
                <button id="successCloseBtn" style="padding: 20px; position: absolute; right: 0; outline: none; border: 0px;" type="button" class="btn-close" aria-label="Close"></button>
                <div class="d-flex flex-column" style="background-color: #28a745; padding:40px 20px 20px 20px;">
                    <h5 class="card-title text-white">Thank You!</h5>
                    <p class="text-white">Your feedback has been submitted successfully.</p>
                </div>
                <div class="card-body">
                    <button id="successOkBtn" type="button" class="btn btn-primary w-100">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get modal elements and buttons
            var modal = document.getElementById('myModal');
            var openModalBtn = document.getElementById('openModalBtn');
            var closeModalBtn = document.getElementById('close-btn');
            var successModal = document.getElementById('successModal');
            var successCloseBtn = document.getElementById('successCloseBtn');
            var successOkBtn = document.getElementById('successOkBtn');
            var feedbackForm = document.querySelector('#myModal form');

            // Function to show the modal
            function openModal() {
              modal.style.display = 'block'; // Show the feedback modal
            }

            // Function to hide the modal
            function closeModal() {
              modal.style.display = 'none'; // Hide the feedback modal
            }

            // Function to show success modal
            function showSuccessModal() {
              successModal.style.display = 'block'; // Show the success modal
            }

            // Function to hide success modal
            function closeSuccessModal() {
              successModal.style.display = 'none'; // Hide the success modal
            }

            // Event listener for opening the feedback modal
            openModalBtn.addEventListener('click', openModal);

            // Event listener for closing the feedback modal
            closeModalBtn.addEventListener('click', closeModal);

            // Event listener for closing the success modal
            successCloseBtn.addEventListener('click', closeSuccessModal);
            successOkBtn.addEventListener('click', closeSuccessModal);

            // Close modal if clicked outside of the modal content
            window.addEventListener('click', function(event) {
              if (event.target === modal) {
                closeModal();
              }
              if (event.target === successModal) {
                closeSuccessModal();
              }
            });

            // Handle form submission
            feedbackForm.addEventListener('submit', function(event) {
              event.preventDefault(); // Prevent the form from submitting the default way
              closeModal(); // Close the feedback modal
              showSuccessModal(); // Show the success modal
            });
          });
    </script>
</header>
