{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<main>
    {% include 'includes/pre-loader.html' %}

    <!-- 404  -->
  <section class="section-header overflow-hidden pt-7 pt-lg-5 pb-9 pb-lg-1 bg-tertiary text-black">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="fw-bolder display-1">405</h1>
                <h2 class="lead fw-normal text-muted mb-4 px-lg-1">Sorry - this page doesn't seem to exist</h2>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'assets/img/pages/home/404_error.svg' %}" alt="404">
            </div> 
            <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
        </div>
      </div>
    </div>
</section>

</main>
{% endblock content %}
