{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<main>

  {% include 'includes/pre-loader.html' %}
<section class="section section-lg">
    <div class="container">
        <h4>User Blogs</h4>
        <br>
        <p>Please provide your blog details with our company..</p>
        <br>
        <form method="post" action="{% url 'blogpage' %}" class="card">
            {% csrf_token %}
            <div class="card-header">How was your blog?</div>
            <br>
            <div class="container">
                <div class="col">
                <div class="card-text form-group">
                    <label for="id_name">Name:</label>
                    {{ form.name }}
                </div>
                <br>
                <div class="card-text form-group">
                    <label for="id_title">Blog Title:</label>
                    {{ form.title }}
                </div>
                <br>
                <div class="card-text form-group">
                    <label for="id_description">Blog Description:</label>
                    {{ form.description }}
                </div>
                <br>
                <button type="reset" class="btn btn-primary">Reset</button> 
                <button type="submit" class="btn btn-primary">Submit</button> 
                </div>
                <br>
            </div>
        </form>
        <br/>
        <br/>
        <div class="feedback-list">
            <h5><u>Recent Blog Pages</u></h5>        
            <br/>
            {% if blogpages %}
            <ul>
                {% for blogpage in blogpages %}
                <div>
                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <span
                            style="font-size: 18px; font-weight: bolder;"
                            >User Name : </span>{{ blogpage.name }}
                        </div>
                        <div>
                            <form method="post" action="{% url 'delete_blogpage' blogpage.id %}" style="">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>     
                       </div>  
                    </div>
                    <span
                    style="font-size: 18px; font-weight: bolder;"
                    >Title : </span>{{ blogpage.title }}
                </div>                                  
                    <div>
                        <span
                        style="font-size: 16px; font-weight: bolder;"
                        >Description : </span>{{ blogpage.description }} 
            </div>  
            <br/>                                            
                {% endfor %}
            </ul>
        {% else %}
            <p>No Blog Yet</p>
        {%  endif %}
        </div>
    </div>
    <!-- Subresource Integrity -->       
    <script type="module"
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
    crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script type="module"
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" 
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" 
    crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script type="module" 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
    crossorigin="anonymous"></script>
</section>
</main>

{% endblock content %}