{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<main>

  {% include 'includes/pre-loader.html' %}
<section class="section section-lg">
    <div class="container">
        <h4>Create Blog</h4>
        <br>
        <form method="post" action="" class="card">
            {% csrf_token %}
            <div class="card-header">Create a blog</div>
            <br>
            <div class="container">
                <div class="col">
                    <div class="card-text form-group">
                        <label for="id_name">Blog Title:</label>
                        <input type="text" name="name" class="form-control" placeholder="Your name" maxlength="100" required="" id="id_name" fdprocessedid="7chbvc">
                    </div>
                    <br>
                    <div class="card-text form-group">
                        <label for="id_feedback">Blog Content:</label>
                        <textarea name="feedback" cols="40" rows="10" class="form-control" placeholder="Blog Content" required="" id="blog_content"></textarea>
                    </div>
                    <br>
                    <div class="card-text form-group">
                        <label for="id_image">Upload Image:</label>
                        <input type="file" name="image" class="form-control" id="id_image" accept="image/*">
                    </div>
                    <br>
                    <button type="reset" class="btn btn-primary">Reset</button> 
                    <button type="submit" class="btn btn-primary">Submit</button> 
                </div>
                <br>
            </div>
        </form>
        <br>

    </div>
    <!-- Subresource Integrity -->       
    <script type="module"
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
    crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script type="module"
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" 
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" 
    crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script type="module" 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
    crossorigin="anonymous"></script>
</section>
</main>

{% endblock content %}