<!-- hacker_alert.html  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warning</title>
    <style>
        body {
            background-color: rgb(237, 237, 51);
            text-align: center;
            padding-top: 50px;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: black;
            font-size: 60px;
            font-weight: bold;
        }

        p {
            color: black;
            font-size: 30px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>You are a hacker, please get off the system!</h1>
    <p>Your attempt has been logged.</p>
</body>
</html>
