{% extends 'layouts/base.html' %}
{% load static %}

{% block header %}{% endblock header %}

{% block content %}

    <main>

        {% include 'includes/pre-loader.html' %}
        
                <!-- Section -->
                <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="/custom_static/assets/img/pages/signup-bg.png">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                                    <div class="text-center text-md-center mb-4 mt-md-0">
                                        <img src="/custom_static/assets/img/HHLOGO.png" alt="Logo" class="img-fluid mb-2" width="50">
                                        <h1 class="mb-0 h3">Create an account with HardHat</h1>
                                    </div>
                                    <form method="post">
                                        <input type="hidden" name="csrfmiddlewaretoken" value="WK4LvTfj1gDZ7W15Fzx0mRWayWJfrzrs9EMAQMVImUou4DXmIkrxhpngjLYNMhfv">
                                        <!-- Form -->
                                        
                                            <div class="form-group mb-4">
                                                <label for="email">Your Username</label>
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon3">
                                                        <span class="fas   fa-user  "></span>
                                                    </span>
                                                    <input type="text" name="username" class="form-control" placeholder="Username" maxlength="150" autofocus required id="id_username">
                                                </div>  
                                            </div>
                                            <span class="text-danger">  </span>
                                        
                                            <div class="form-group mb-4">
                                                <label for="email">Your Email</label>
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon3">
                                                        <span class="fas  fa-envelope "></span>
                                                    </span>
                                                    <input type="email" name="email" class="form-control" placeholder="example@company.com" maxlength="254" id="id_email">
                                                </div>  
                                            </div>
                                            <span class="text-danger">  </span>
                                        
                                            <div class="form-group mb-4">
                                                <label for="email">Your Password</label>
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon3">
                                                        <span class="fas   fa-unlock-alt  "></span>
                                                    </span>
                                                    <input type="password" name="password1" class="form-control" placeholder="Password" required id="id_password1">
                                                </div>  
                                            </div>
                                            <span class="text-danger">  </span>
                                        
                                            <div class="form-group mb-4">
                                                <label for="email">Confirm Password</label>
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon3">
                                                        <span class="fas   fa-unlock-alt  "></span>
                                                    </span>
                                                    <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required id="id_password2">
                                                </div>  
                                            </div>
                                            <span class="text-danger">  </span>
                                            <!-- dropdown -->
                                            <div class="form-group mb-4">
                                                <label for="category">Select Category</label>
                                                <div class="input-group">
                                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Select Category
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#" data-value="student">Student</a>
                                                        <a class="dropdown-item" href="#" data-value="developer">Developer</a>
                                                        <a class="dropdown-item" href="#" data-value="project-lead">Project Lead</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="text-danger"> </span>

                                        <!-- End of Form -->
                                        <div class="form-check mb-4">
                                            <input class="form-check-input" type="checkbox" value="" id="terms">
                                            <label class="form-check-label" for="terms">
                                                I agree to the <a href="#">terms and conditions</a>
                                            </label>
                                        </div>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary">Sign up</button>
                                        </div>
                                    </form>
                                    <div class="mt-3 mb-4 text-center">
                                        <span class="fw-normal">or</span>
                                    </div>
                                    <div class="btn-wrapper my-4 text-center">
                                        <a href="#" class="btn btn-icon-only btn-pill btn-outline-gray-300 text-facebook me-2" aria-label="facebook button" title="facebook button">
                                            <span aria-hidden="true" class="fab fa-facebook-f"></span>
                                        </a>
                                        <a href="#" class="btn btn-icon-only btn-pill btn-outline-gray-300 text-twitter me-2" aria-label="twitter button" title="twitter button">
                                            <span aria-hidden="true" class="fab fa-twitter"></span>
                                        </a>
                                        <a href="#" class="btn btn-icon-only btn-pill btn-outline-gray-300 text-facebook" aria-label="github button" title="github button">
                                            <span aria-hidden="true" class="fab fa-github"></span>
                                        </a>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center mt-4">
                                        <span class="fw-normal">
                                            Already have an account?
                                            <a href="/accounts/login/" class="fw-bold text-underline">Login here</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

    </main>

 {% endblock content %}

 {% block footer %}{% endblock footer %}