{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>

        {% include 'includes/pre-loader.html' %}

        <!-- Hero -->
        <section class="section-header bg-tertiary text-black">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                        <h1 class="display-2 mb-4">Full-Service <br class="d-none d-md-inline">Cyber Security Agency</h1>
                        <p class="lead mb-4 text-muted">Hardhat Enterprises is an organization that enhances and strives to improve white hat operations' cyber
                            security posture by safeguarding assets, reducing threats, and thwarting vulnerability exploits. This vision
                            will be the focus of each project's deliverables throughout the trimester. The open-source security
                            architecture, tools, processes, and mitigation techniques that are generated satisfy market gaps and
                            requirements. Some deliverables due to their nature, like testing reports, are private to the appropriate
                            parties.</p>
                    </div>
                  <div class="col-12 col-md-5 d-none d-md-block text-center"><img src="{% static 'assets/img/pages/home/mvp-Team goals-pana.svg' %}" alt=""></div>
               </div>
            </div>
        </section>
        <!-- End of Hero section -->
        <!-- Section -->
        <section class="section section-md">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-xl-6 mb-5">
                        <img class="img-fluid" src="{% static 'assets/img/pages/home/company-mission.svg' %}" alt="Our Structure">
                    </div>
                    <div class="col-md-6 col-xl-5 text-center text-md-left">
                        <h2 class="h1 mb-5">Company Structure and Project Overview</h2>
                        <p class="lead">Hardhat is an experienced and passionate group of cybersecurity specialists and developers. Every client we work with becomes a part of the team. Together we face the challenges and celebrate the victories. During Trimester 1, 2024 (this trimester), Hardhat Enterprises is working on six (6) projects, with each of
                            the projects working towards the shared company goal..</p>
                        <p class="lead">Working on this projects: AppAttack, Website Development, Penetration Testing GUI (PT-GUI), Smishing Detection, Deakin Threat Mirror and Deakin CyberSafe VR</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 text-center">
                        <!-- End of Call Box -->
                    </div>
                    <div class="col-md-4 col-lg-4 text-center">
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->
        <section class="section section-lg bg-gray-200">
            <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
                <svg class="fill-gray-200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <h1 class="fw-bolder display-2 text-center mb-lg-2">Our Projects</h1>
                  <!-- Projects -->
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
          <div class="card border-0 overflow-hidden">
            <div class="position-relative">
              <img src="{% static 'assets/img/pages/home/appattack-card.svg' %}" class="card-img-top" alt="Neil Portrait">
            </div>  
            <div class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
              <h3 class="h5 card-title">AppAttack</h3>
              <p class="mt-3">We deliver comprehensive reports to clients, providing actionable insights to enhance code security. With a commitment to excellence, AppAttack empowers organizations to proactively safeguard their digital assets</p>
              <a href="{% url 'appattack' %}">
                <div class="btn btn-secondary">
                  Learn More
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
          <div class="card border-0 overflow-hidden">
              <div class="position-relative">
                <img src="{% static 'assets/img/pages/home/pt-gui-card-2.svg' %}" class="card-img-top" alt="Neil Portrait">
              </div>  
              <div class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
                <h3 class="h5 card-title">PT-GUI</h3>
                <p class="mt-3">Introducing the Deakin Detonator Toolkit (DDT) – the cutting-edge arsenal for modern penetration testers. Born from the innovative minds at PT-GUI, DDT is more than just a toolkit; it's a revolution in cybersecurity practice.</p>
                <a href="{% url 'ptgui_viz_main' %}">
                  <div class="btn btn-secondary">
                    Learn More
                  </div>
                </a>
              </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
          <div class="card border-0 overflow-hidden">
              <div class="position-relative">
                <img src="{% static 'assets/img/pages/home/cards/icon1.svg' %}" class="card-img-top" alt="Neil Portrait">
              </div>  
              <div class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
                <h3 class="h5 card-title">CyberSafe VR</h3>
                <p class="mt-3">The Deakin CyberSafe VR (DCyberSafe) aims to revolutionize cybersecurity training for small
                  businesses.Leveraging interactive virtual reality (VR) technology, the company seeks to bridge
                  the gap between theoretical knowledge and practical application of cybersecurity measures
                  among small business owners and employees.</p>
                <a href="{% url 'ptgui_viz_main' %}">
                  <div class="btn btn-secondary">
                    Learn More
                  </div>
                </a>
              </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
          <div class="card border-0 overflow-hidden">
              <div class="position-relative">
                <img src="{% static 'assets/img/pages/home/cards/icon2.svg' %}" class="card-img-top" alt="Neil Portrait">
              </div>  
              <div class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
                <h3 class="h5 card-title">Smishing Detection</h3>
                <p class="mt-3">Smishing Detection aims to develop an innovative smishing detection app for Android and iOS devices to
                  moderate the risks associated with SMS phishing attacks.</p>
                <a href="{% url 'ptgui_viz_main' %}">
                  <div class="btn btn-secondary">
                    Learn More
                  </div>
                </a>
              </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
          <div class="card border-0 overflow-hidden">
              <div class="position-relative">
                <img src="{% static 'assets/img/pages/home/cards/icon8.svg' %}" class="card-img-top" alt="Neil Portrait">
              </div>  
              <div class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
                <h3 class="h5 card-title">Threat Mirror</h3>
                <p class="mt-3">Threat Mirror aims to investigate open-source threat intelligence platforms,
                  assessing their suitability and adaptability for SMEs and developing economies.</p>
                <a href="{% url 'ptgui_viz_main' %}">
                  <div class="btn btn-secondary">
                    Learn More
                  </div>
                </a>
              </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
          <div class="card border-0 overflow-hidden">
              <div class="position-relative">
                <img src="{% static 'assets/img/pages/home/threat-intel-card.svg' %}" class="card-img-top" alt="Neil Portrait">
              </div>  
              <div class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
                <h3 class="h5 card-title">Malware Visualization (not functioning)</h3>
                <p class="mt-3">The Malware Visualization project develops an interactive visual analytics tool to make malware analysis easier.​Integrated with existing visualization tools, this stand-alone application offers a user-friendly visual analysis.</p>
                <a href="{% url 'malware_viz_main' %}">
                  <div class="btn btn-secondary">
                    Learn More
                  </div>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
                <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                   <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
             </figure>
        </section>
        <!-- Section -->
        <section class="section section-lg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <!-- Contact Card -->
                        <div class="card border-0 p-2 p-md-3 p-lg-5">
                            <div class="card-header bg-white border-0 text-center">
                                <h2>Want to work with us?</h2>
                                <p>Awesome! Tell us about yourself</p>
                            </div>
                            <div class="card-body pt-0">
                                <form action="#">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="name">Your Name</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle"></span></span>
                                            <input type="text" class="form-control" placeholder="e.g. Bonnie Green" id="name" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="email">Your Email</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope"></span></span>
                                            <input type="email" class="form-control" placeholder="example@company.com" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" size="30" id="email" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="mb-4">
                                        <label for="message">Your Message</label>
                                        <textarea placeholder="Your message" class="form-control" id="message" rows="4" required></textarea>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-secondary">Send message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End of Contact Card -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
    </main>

{% endblock content %}


