{% extends 'pages/upskilling/skill_base.html' %} 
{% load static %}


{% block skill_content %}


<div class="container">
  <div id="sections" class="my-5">
    <section class="section card mb-3 p-3">
      <h2 class="card-title">Structure</h2>
      <p class="card-text">Front-end development primarily focuses on user experience. Using the related coding and design techniques, you as front-end developers build the elements of an application that are directly accessed by end-users with a goal of rendering the entire interface elegant, easy to use, fast, and secure, fostering user engagement and interaction. Reference: <a href="https://cloudinary.com/guides/front-end-development/front-end-development-the-complete-guide">Cloudinary Front-End Development: The Complete Guide</a></p>
    </section>

    <section class="section card mb-3 p-3" style="display: none">
      <h2 class="card-title">Syntax</h2>
      <p class="card-text"> Programming languages like JavaScript, HyperText Markup Language (HTML), and Cascading Style Sheets (CSS) to design websites. Each language serves a unique purpose. HTML lays out the site's content and structure, CSS adds design features, and JavaScript creates advanced interactive features. Reference: <a href="https://www.computerscience.org/bootcamps/resources/frontend-vs-backend/">ComputerScience.org Front End vs Back end: What's the Difference?</a></p>
    </section>

    <!-- More sections... -->
  </div>

  <div class="d-flex justify-content-between mb-4">
    <button id="back-button" class="btn btn-secondary" style="display: none">Back</button>
    <button id="next-button" class="btn btn-primary">Next</button>
    <button id="finishButton" class="btn btn-warning" style="display: none">Finish</button>
  </div>

<script>
    window.progressId = "{{ progress_id }}";
    window.csrfToken = "{{ csrf_token }}";
       // Function to handle button visibility for cards so that the finish button is invisible on the first card and the next button is invisible on the second card
       function toggleButtons(currentIndex, totalCards) {
        if (currentIndex === 0) {
            // If it's the first card, hide the back button
            document.getElementById("back-button").style.display = "none";
        } else {
            // Otherwise, show the back button
            document.getElementById("back-button").style.display = "block";
        }

        if (currentIndex === totalCards - 1) {
            // If it's the last card, hide the next button and show the finish button
            document.getElementById("next-button").style.display = "none";
            document.getElementById("finishButton").style.display = "block";
        } else {
            // Otherwise, show the next button and hide the finish button
            document.getElementById("next-button").style.display = "block";
            document.getElementById("finishButton").style.display = "none";
        }
    }

    var currentIndex = 0; // Update this value based on user navigation
    var totalCards = document.querySelectorAll("#sections .section").length;

    //Toggle of Button Visibility 
    toggleButtons(currentIndex, totalCards);

    // Event listener for the back button click
    document.getElementById("back-button").addEventListener("click", function() {
        currentIndex--;
        toggleButtons(currentIndex, totalCards); // Update button visibility
    });

    // Event listener for the next button click
    document.getElementById("next-button").addEventListener("click", function() {
        currentIndex++;
        toggleButtons(currentIndex, totalCards); // Update button visibility
    });
</script>
</script>

<script src="{% static 'skill_navigation.js' %}"></script>

{% endblock %}