{% extends 'pages/upskilling/skill_base.html' %} 
{% load static %}


{% block skill_content %}


<div class="container">
  <div id="sections" class="my-5">
    <section class="section card mb-3 p-3">
      <h2 class="card-title">Structure</h2>
      <p class="card-text">Data structure is a fundamental concept in programming, which is required for easily storing and retrieving data. Python has four main data structures split between mutable (lists, dictionaries, and sets) and immutable (tuples) types. Reference: <a href="https://www.dataquest.io/blog/data-structures-in-python/">DataQuest Python Data Structure: Lists, Dictionaries, Sets, Tuples</a></p>
    </section>

    <section class="section card mb-3 p-3" style="display: none">
      <h2 class="card-title">Syntax</h2>
      <p class="card-text">The syntax of the Python programming language is the set of rules that defines how a Python program will be written and interpreted (by both the runtime system and by human readers) Reference: <a href="https://en.wikipedia.org/wiki/Python_syntax_and_semantics">Wikipedia Python Syntax and Sematics</a></p>
    </section>

    <!-- More sections... -->
  </div>

  <div class="d-flex justify-content-between mb-4">
    <button id="back-button" class="btn btn-secondary" style="display: none">Back</button>
    <button id="next-button" class="btn btn-primary">Next</button>
    <button id="finishButton" class="btn btn-warning" style="display: none">Finish</button>
  </div>

<script>
    window.progressId = "{{ progress_id }}";
    window.csrfToken = "{{ csrf_token }}";
       // Function to handle button visibility for cards so that the finish button is invisible on the first card and the next button is invisible on the second card
       function toggleButtons(currentIndex, totalCards) {
        if (currentIndex === 0) {
            // If it's the first card, hide the back button
            document.getElementById("back-button").style.display = "none";
        } else {
            // Otherwise, show the back button
            document.getElementById("back-button").style.display = "block";
        }

        if (currentIndex === totalCards - 1) {
            // If it's the last card, hide the next button and show the finish button
            document.getElementById("next-button").style.display = "none";
            document.getElementById("finishButton").style.display = "block";
        } else {
            // Otherwise, show the next button and hide the finish button
            document.getElementById("next-button").style.display = "block";
            document.getElementById("finishButton").style.display = "none";
        }
    }

    var currentIndex = 0; // Update this value based on user navigation
    var totalCards = document.querySelectorAll("#sections .section").length;

    //Toggle of Button Visibility 
    toggleButtons(currentIndex, totalCards);

    // Event listener for the back button click
    document.getElementById("back-button").addEventListener("click", function() {
        currentIndex--;
        toggleButtons(currentIndex, totalCards); // Update button visibility
    });

    // Event listener for the next button click
    document.getElementById("next-button").addEventListener("click", function() {
        currentIndex++;
        toggleButtons(currentIndex, totalCards); // Update button visibility
    });
</script>
</script>

<script src="{% static 'skill_navigation.js' %}"></script>

{% endblock %}