{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<main>
    {% include 'includes/pre-loader.html' %}
  <!-- Contact Us -->
  <section class="section section-lg bg-tertiary text-black">
    <div class="container">
      <h1 class="fw-bolder display-2 text-center mb-lg-2">Contact Us</h1>
      <div class="row mb-5">
        <div class="col-12 col-md-6 mb-5 mb-md-0">
            <form>
                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                </div>
                <div class="mb-3">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                </div>
                <div class="mb-3">
                  <label for="emailAddress" class="form-label">Email Address</label>
                  <input type="email" class="form-control" id="emailAddress" placeholder="Enter your email address">
                </div>
                <div class="mb-3">
                    <label for="questionsAndQueries" class="form-label">Message</label>
                    <textarea class="form-control" id="questionsAndQueries" rows="3" placeholder="Enter your questions or queries here"></textarea>
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              
        </div>
        <div class="col-12 col-md-6">
          <p class="lead fw-normal mb-4">Feel free to reach out to us with any queries you have. Our team is ready to assist you.</p>
          <!-- Contact information like phone number, email address, etc. -->
          <p><strong>Phone:</strong> 0422 333 444</p>
          <p><strong>Email:</strong> DDT@Email.com</p>
          <!-- Optionally include a map or other contact details -->
        </div>
      </div>
    </div>
  </section>

</main>

{% endblock content %}
