{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<main>
    {% include 'includes/pre-loader.html' %}

    <!-- Title -->
    <div class="section-header bg-tertiary text-black pb-0">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">
                    <div class="mt-4 mb-5">
                        <h2 class="fw-bolder text-dark">Join Us at Deakin Detonator Toolkit</h2>
                        <img src="{% static 'assets/img/pages/home/pt-gui-join-us.svg' %}" alt="Join Us" width="300"
                            height="300">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Title Section -->
    <section>
        <div class="container">
            <div class="bg-primary-app text-dark py-5">
                <div class="row g-5 justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="card border-0 p-4 shadow-lg">
                            <form method="post">
                                {% csrf_token %}
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="name" class="form-label">Full Name</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="fas fa-user-circle"></span>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Enter your full name" id="name" name="fullname" required>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="email" class="form-label">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon2">
                                            <span class="fas fa-envelope"></span>
                                        </span>
                                        <input type="email" class="form-control" placeholder="Enter your deakin email address" id="email" name="email" required>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="mobile" class="form-label">Mobile</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon3">
                                            <span class="fas fa-phone"></span>
                                        </span>
                                        <input type="tel" class="form-control" placeholder="Enter your mobile" id="mobile" name="mobile" required>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="experience" class="form-label">Experience</label>
                                    <textarea class="form-control" id="experience" rows="4" name="message"
                                        placeholder="Enter your prior experience"></textarea>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-secondary">Submit</button>
                                </div>
                            </form>
                            <!--End of Form -->
                        </div>
                        
                    </div>
                    <!-- Why Join DDT Section -->
                    <div class="col-12 col-md-6">
                        <h3 class="fw-bolder text-dark">Why Join DDT?</h3>
                        <p class="mb-4">Join our dynamic cybersecurity community for
                            unparalleled
                            opportunities with hands-on experiences, access cutting-edge tools, and collaborate
                            on
                            impactful projects. Enjoy a supportive environment that recognizes your
                            contributions,
                            fostering continuous learning and growth. Your journey to cybersecurity excellence
                            starts here.</p>
                        <div class="mt-4 mb-5">
                            <a href="{% url 'ptgui_contact-us' %}" class="btn btn-primary animate-up-2"
                                alt="Click to immerse yourself in practical cybersecurity experiences."><span
                                    class="fas fa-envelope"></span>
                                Get in Touch</a>
                        </div>
                    </div>
                     <!--End of Why Join DDT Section -->
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}