{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<main>
    {% include 'includes/pre-loader.html' %}

    <!-- Hero -->
    <div class="section-header bg-primary-app pb-0">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">
                    <img src="{% static 'assets/img/pages/home/pt-gui-card.svg' %}" alt="Dashboard Preview" width="500"
                        height="500">
                    <div class="mt-4 mb-5">
                        <h2 class="fw-bolder text-dark">Deakin Detonator Toolkit</h2>
                        <h5 class="fw-normal text-dark">Your gateway to mastering cybersecurity tools with ease.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Hero Section -->

    <section>
        <!-- About  -->
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <h2 class="fw-bolder text-dark">About Us</h2>
                    <p class="mb-4">Introducing the Deakin Detonator Toolkit (DDT) – the cutting-edge arsenal for modern
                        penetration testers. Born from the innovative minds at PT-GUI, DDT is more than just a toolkit;
                        it's a revolution in cybersecurity practice. Harnessing the robust Tauri framework alongside
                        React and Mantine, DDT offers an intuitive interface that simplifies complex pen-testing
                        workflows. With Python at its core, DDT automates and executes scripts for vulnerability
                        exploitation with precision, freeing you from the intricacies of command-line tools. By the end
                        of T2 2023, DDT boasts an impressive repertoire of 44 pen-testing tools, 5 targeted attack
                        vectors, 12 walkthroughs of HackTheBox challenges, and a comprehensive reference for all
                        dependencies, making it an indispensable tool for professionals and enthusiasts alike.</p>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'assets/img/pages/home/pt-gui-about.svg' %}" class="img-fluid" alt="About Us">
                </div>
            </div>
            <!-- End of About  -->
            <!-- Goals -->
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <img src="{% static 'assets/img/pages/home/pt-gui-goals.svg' %}" class="img-fluid"
                        alt="Goals and Objectives">
                </div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder text-dark">Goals</h2>
                    <ul class="mb-4">
                        <li>User-Friendly Platform.</li>
                        <li>Access to Cybersecurity Tools.</li>
                        <li>Streamlined Learning Process.</li>
                        <li>Community Building.</li>
                        <li>Wide Accessibility.</li>
                    </ul>
                    <h2 class="fw-bolder text-dark">Objectives</h2>
                    <ul class="mb-4">
                        <li>Design a clean, easy-to-use website to make it easier for students and professionals in
                            cybersecurity.</li>
                        <li>Easily connect different cybersecurity tools, streamlining complex command line tasks for
                            users with varying levels of experience.</li>
                        <li>Facilitate a streamlined learning process for cybersecurity tools, making it more efficient
                            for users to acquire and apply knowledge.</li>
                        <li>Foster a community of cybersecurity enthusiasts, encouraging collaboration, knowledge
                            sharing, and engagement.</li>
                        <li>Ensure accessibility to a broader audience by designing the website in a way that caters to
                            users with varying technical expertise.</li>
                    </ul>
                </div>
            </div>
            <!-- End of Goals -->
            <!--Our Services Section -->
            <!-- Services Header section -->
            <div class="bg-primary-app">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8">
                        <div class="mt-4 mb-5">
                            <h2 class="fw-bolder text-dark">Explore our offerings</h2>
                            <h5 class="fw-normal text-dark">Effortless penetration testing with our intuitive GUI
                                tool—bridging cybersecurity expertise and accessibility for seamless security
                                assessments.</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of Services Header section -->
            <!-- Penetration Testing Learning Tool Service Section -->
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <h2 class="fw-bolder text-dark">Simplified Penetration Testing</h2>
                    <p class="mb-4">Explore the world of penetration testing with ease using our GUI-based tools. Say
                        goodbye to complex command lines. Our user-friendly interface empowers users to conduct
                        penetration tests efficiently, making cybersecurity assessments more accessible and intuitive.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'assets/img/pages/home/pt-gui-pentest.svg' %}" class="img-fluid"
                        alt="Penetration Testing">
                </div>
            </div>
            <!-- End of Penetration Testing Learning Tool Service Section -->
            <!-- Usage Service Section -->
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <img src="{% static 'assets/img/pages/home/pt-gui-usage.svg' %}" class="img-fluid"
                        alt="Penetration Testing">
                </div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder text-dark">Streamlined Tool Usage</h2>
                    <p class="mb-4">Experience cybersecurity tool usage like never before. Our Usage Service simplifies
                        the practical application of cybersecurity tools, focusing on simplicity without sacrificing
                        effectiveness. Navigate through tasks effortlessly, whether you're a seasoned professional or
                        new to the field.</p>
                </div>
            </div>
            <!-- End of Usage Service Section -->
            <!-- Beginner's Cyber Toolkit Section -->
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <h2 class="fw-bolder text-dark">Beginner's Cyber Toolkit</h2>
                    <p class="mb-4">Embark on your cybersecurity learning journey with our dedicated tool for beginners.
                        This service educates newcomers on fundamental commands and tools, providing a supportive
                        environment for learning. Start your exploration into cybersecurity confidently, laying the
                        groundwork for a successful career.</p>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'assets/img/pages/home/pt-gui-learningtool.svg' %}" class="img-fluid"
                        alt="Penetration Testing">
                </div>
            </div>
            <!-- End of Beginner's Cyber Toolkit Section -->
            <!-- End of Services section-->
        </div>
    </section>
    <section>
        <div class="bg-secondary-app text-white px-10">
            <div class="container">
                <!-- Tools Section -->
                <!--Tools Header Section-->
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8">
                        <div class="mt-4 mb-5">
                            <h2 class="fw-bolder text-white">SecureCraft Utilities</h2>
                            <p class="mb-4">Elevate your cybersecurity experience with our advanced toolset, crafted
                                to
                                streamline intricate operations and elevate your prowess in the dynamic realm of
                                cybersecurity.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of Tools Header Section-->
            <!-- Tools List Section -->
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <img src="{% static 'assets/img/pages/home/pt-gui-tools.svg' %}" class="img-fluid"
                        alt="Goals and Objectives">
                </div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder text-white">Tools</h2>
                    <ul class="mb-4" >
                        <li>Nmap</li>
                        <li>SMB Enumeration</li>
                        <li>SNMP-Check</li>
                        <li>Shodan API</li>
                        <li>Dirb</li>
                        <li>JohnTheRipper</li>
                        <li>Hashcat</li>
                        <li>Hydra</li>
                        <li>Urlsnarf</li>
                        <li>SearchSploit</li>
                        <li>SMG-Ghost Scanner</li>
                        <li>ARP Spoofing</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End of Tools List Section -->
        <br>
        <!-- How Do We Do It Section -->
        <div class="row justify-content-center text-center">
            <h2 class="text-center fw-bolder text-dark">How Do We Do It?</h2>
            <div class="row text-center">
                <div class="col-md-4">
                    <div height="400">
                    <img src="{% static 'assets/img/pages/home/pt-gui-how1.svg' %}"  alt="Tool Screenshot 1">
                </div>
                    <p class="mb-4">To initiate the tool, just click the "Go" button to start the execution.</p>
                </div>
                <div class="col-md-4">
                    <div height="400">
                    <img src="{% static 'assets/img/pages/home/pt-gui-how2.svg' %}"  alt="Tool Screenshot 2">
                </div>
                    <p class="mb-4">Provide the necessary information and select the "Scan" button to initiate the operation.</p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'assets/img/pages/home/pt-gui-how3.svg' %}"  alt="Tool Screenshot 3">
                    <p class="mb-4">Check the Output section to see the results of the scan.</p>
                </div>
            </div>
        </div>
        <!-- End of How Do We Do It Section -->

        <!-- GitHub Link Section -->
        <div class="bg-secondary-app text-white">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8">
                        <div class="mt-4 mb-5">
                            <h2 class="fw-bolder">DDT GitHub</h2>
                            <p class="mb-4">Explore the PT-GUI GitHub Repository for in-depth access to the source
                                code,
                                documentation, and collaborative resources. Contribute to the development of this
                                powerful cybersecurity tool, designed to simplify complex operations for both
                                learners
                                and professionals.</p>
                            <img src="{% static 'assets/img/pages/home/pt-gui-git.svg' %}" alt="Dashboard Preview"
                                width="500" height="400">
                            <div>
                                <a href="https://github.com/Hardhat-Enterprises/Deakin-Detonator-Toolkit"
                                    class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3">
                                    <span class="fab fa-github me-2"></span>
                                    Visit GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of GitHub Link Section -->

        <!-- Class of Action Section -->
        <div class="bg-primary-app">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">
                    <div class="mt-4 mb-5">
                        <h2 class="fw-bolder text-dark">Ignite Your PenTest Journey</h2>
                        <p class="mb-4">Ready to level up your cybersecurity skills? Join us to experience
                            user-friendly
                            tools and collaborative learning.</p>
                        <a href="{% url 'ptgui_contact-us' %}" class="btn btn-primary animate-up-2"
                            alt="Click to immerse yourself in practical cybersecurity experiences."><span
                                class="fas fa-envelope"></span>
                            Get in Touch</a>
                        <a href="{% url 'ptgui_join_us' %}" class="btn btn-primary animate-up-2"
                            alt="Join our team of cybersecurity professionals"><span
                                class="fas fa-handshake me-2"></span>
                            Join Us</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- End of Class of Action Section -->
    </section>
    <!-- End of Social Links Section -->
    {% endblock content %}