{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<main>
    {% include 'includes/pre-loader.html' %}

    <!-- Messages Section -->
    {% if messages %}
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- End Messages Section -->

    <!-- Hero Section -->
    <section class="section-header bg-tertiary text-black py-2">
        <div class="px-2 py-5 my-5 text-center">
            <h1 class="fw-bold display-1">Documents Vault</h1>
            <p class="lead mb-4">Explore all uploaded documents below.</p>
        </div>
    </section>
    <!-- End of Hero Section -->

    <!-- Document List -->
    <section class="section section-lg bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-4">
                    <a href="{% url 'document_upload' %}" class="btn btn-custom-upload">
                        <span class="me-1">
                            <span class="fas fa-upload"></span>
                        </span>
                        Upload a New Document
                    </a>
                </div>
                {% for document in documents %}
                <div class="col-md-4 mb-3">
                    <div class="card shadow border-0" style="background-color: #f8f9fa; border-radius: 10px; padding: 15px;">

                        <div class="card-body text-center">
                            <h5 class="card-title">{{ document.title }}</h5>
                            <div class="d-flex justify-content-center mt-3">
                                <a href="{% url 'document_details' document.id %}" class="btn btn-outline-primary btn-sm mx-1">View Details</a>
                                <a href="{{ document.file.url }}" class="btn btn-outline-secondary btn-sm mx-1">Download</a>
                                <a href="{% url 'document_delete' document.id %}" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                {% empty %}
                <p>No documents available.</p>
                {% endfor %}

                <!-- Pagination -->
                <nav>
                    <ul class="pagination">
                    <div class="mx-auto d-flex flex-row mt-5">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; First</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}
                        <li class="page-item">
                        <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                        </li>
                        {% if page_obj.has_next %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                        </li>
                        {% endif %}
                    </div>
                    </ul>
                </nav>
  
            </div>
        </div>
    </section>
    <!-- End Document List -->

    <!-- Join Us -->
    <section class="section section-md">
        <div class="container">
            <div class="row mb-4">
                <div class="col-12 mt-4">
                    <div class="card shadow mb-5">
                        <div class="card-body px-4 py-4 text-center text-md-left">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <h2 class="mb-3">Join Us Today!</h2>
                                    <p class="mb-0">
                                        Empower your future in cybersecurity! Join AppAttack and contribute to shaping a secure digital landscape. Explore opportunities, join us today!
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 mt-3 mt-md-0 text-md-right">
                                    <a href="{% url 'appattack_join' %}" class="btn btn-primary">
                                        <span class="me-1">
                                            <span class="fas fa-handshake"></span>
                                        </span>
                                        Join Us
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Join Us -->

</main>
{% endblock content %}
