{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<head>
    <meta name="description" content="Join AppAttack and boost your cyber security skills. Work with a global team to secure the digital future. Apply now!">
    <meta name="keywords" content="Cyber Security, AppAttack, Join Us, Careers, Cybersecurity Jobs, Digital Security, Cybersecurity Platform, HardHat">
    <meta name="author" content="AppAttack">
    <meta property="og:title" content="Join Us - AppAttack">
    <meta property="og:description" content="Want to build up a brighter and safer digital future? Join AppAttack and boost your cyber security skills with us.">
    <meta property="og:image" content="{% static 'assets/img/pages/appattack/icon.5.svg' %}">
    <meta property="og:url" content="https://www.appattack.com/join-us">
    <meta property="og:type" content="website">
    <title>Join Us - AppAttack | Build a Safer Digital Future</title>
</head>

<main>
    <!-- appattack -->
    <section class="section-header bg-secondry text-black py-6">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                    <h1 class="display-1 mb-4">AppAttack<br class="d-none d-md-inline"></h1>
                    <p class="lead mb-4 lead fw-bold text-center">Want to build up a brighter and safe digital future? Join our platform to boost up your Cyber Security Skills.</p>
                </div>
                <div class="col-12 col-md-5 d-none d-md-block text-center">
                    <img src="{% static 'assets/img/pages/appattack/icon.5.svg' %}" alt="AppAttack Cyber Security Platform">
                </div>
            </div>
        </div>
    </section>
  
    <!-- want to work -->
    <section class="section-header bg-tertiary text-black">
        <div class="container">
            <h1 class="fw-bolder display-2 text-center mb-lg-4">Want to work with us?</h1>
            <div class="row mb-5">
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
                    <div class="card border-0 overflow-hidden">
                        <div class="position-relative">
                            <img src="{% static 'assets/img/pages/appattack/icon.1.svg' %}" class="card-img-top" alt="Career Opportunities">
                        </div>  
                        <div class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
                            <h5 class="card-title">Career</h5>
                            <p class="mt-3">If you're looking for a reliable place to grow, there's nowhere better than AppAttack. Our teams face some of the toughest technical challenges out there. Every day is a learning opportunity and you'll never get bored.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
                    <div class="card border-0 overflow-hidden">
                        <div class="position-relative">
                            <img src="{% static 'assets/img/pages/appattack/icon.7.png' %}" class="card-img-top" alt="Our Missions">
                        </div>  
                        <div class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
                            <h5 class="card-title">Our Missions</h5>
                            <p class="mt-3">At Hardhat, everyone works together to create cyber security for the world around us. The work we do has a real impact, and you could be part of the team trusted to educate, protect, and defend organizations around the world.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
                    <div class="card border-0 overflow-hidden">
                        <div class="position-relative">
                            <img src="{% static 'assets/img/pages/appattack/icon.8.png' %}" class="card-img-top" alt="Support at AppAttack">
                        </div>  
                        <div class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
                            <h5 class="card-title">Support</h5>
                            <p class="mt-3">At HardHat, you are surrounded by the brightest minds. And working across different specialist teams, you'll gain exposure to the latest thinking as you solve our customers' complex challenges.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- form -->
    <div id="form-join" class="row justify-content-center">
        <div id="form-header" class="col-12 col-md-10 text-center mb-4">
            <h2>Send Us a Message</h2>
        </div>
        <div id="form-body" class="col-12 col-lg-8">
            <form class="row g-3" action="/appattack/join" method="post" onsubmit="handleFormSubmit(event)">
                {% csrf_token %}
                <div class="col-mb-4">
                    <label for="firstname" class="form-label">First name</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" required>
                </div>
                <div class="col-mb-4">
                    <label for="lastname" class="form-label">Last name</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" required>
                </div>
  
                <div class="mb-4">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon4">
                            <span class="fas fa-envelope"></span>
                        </span>
                        <input type="email" class="form-control" name="email" placeholder="example@company.com" id="email" required>
                    </div>
                </div>

                <div class="mb-4">
                    <label for="message" class="form-label">Drop a Message</label>
                    <textarea placeholder="Your message" class="form-control" name="message" id="message" rows="4" required></textarea>
                </div>
                
                <!-- reCAPTCHA Widget -->
                <div class="mb-4">
                    <div id="recaptcha" class="g-recaptcha" data-sitekey="6Lc5wpIqAAAAAItxvQUvBggCoqycfLa6cESyTt_W" required></div>
                </div>

                <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Include Google reCAPTCHA API -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="{% static 'js/handleFormSubmit.js' %}"></script>

{% endblock content %}
