{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<head>

	<title>AppAttack</title>
</head>

<main>
    {% include 'includes/pre-loader.html' %}

    <!-- Hero Section -->
    <section class="section-header bg-tertiary text-black py-5">
		<div class="px-4 py-5 my-5 text-center">
			<h1 class="fw-bold display-1">AppAttack</h1>
			<img width="500" height="500" src="{% static 'assets/img/pages/appattack/appattack-hero-1.svg' %}" alt="Hero image">
			<div class="col-lg-6 mx-auto">
			  <p class="lead mb-4">We deliver comprehensive reports to clients, providing actionable insights to enhance code security. With a commitment to excellence, AppAttack empowers organizations to proactively safeguard their digital assets</p>
			  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<button type="button" class="btn btn-primary btn-lg px-4 gap-3">Explore Services</button>
			  </div>
			</div>
		</div>
    </section>
	<!-- End of Hero Section -->
	<!-- Services -->
	<section class="section bg-primary text-black">
		<div class="container">
			<h2 class="fw-bolder display-2 text-center">Services</h2>
			<div class="row text-center">
				<div class="col-6 mobile-img text-left">
					<img src="{% static 'assets/img/pages/appattack/pen-test.svg' %}" class="img-fluid" alt="mobile screen">
				</div>
				<div class="col-6 my-auto">
					<h1 class="font-tertiary">Pen-Testing </h1>
					<h6 class="font-tertiary">Our dedicated team engages in collaborative dialogues with partner organizations, creating custom testing environments to reveal vulnerabilities in essential applications. We conduct thorough analyses, delivering detailed reports that not only identify vulnerabilities but also offer strategic remediation steps</h6>
				</div>
			</div>	
		</div>
		<div class="container">
			<div class="row text-center">
				<div class="col-6 my-auto">
					<h1 class="font-tertiary">Secure Code Review </h1>
					<h6 class="font-tertiary">We specialize in evaluating and testing critical infrastructures using advanced tools. Our team goes beyond identifying vulnerabilities, suggesting and implementing remediations to enhance code security. Thorough documentation of test exploitations ensures our clients receive a clear roadmap for fortifying their code infrastructure.</h6>
				</div>
				<div class="col-6 mobile-img text-right">
					<img src="{% static 'assets/img/pages/appattack/scr.svg' %}" class="img-fluid" alt="mobile screen">
				</div>
			</div>	
		</div>
		<div class="container">
			<div class="row text-center">
				<div class="col-6 mobile-img text-left">
					<img src="{% static 'assets/img/pages/appattack/report.svg' %}" class="img-fluid" alt="mobile screen">
				</div>
				<div class="col-6 my-auto">
					<h1 class="font-tertiary">Comprehensive Reports</h1>
					<h6 class="font-tertiary">Following thorough penetration testing and secure code reviews, we deliver detailed reports to our clients. These reports go beyond identifying vulnerabilities; they provide a strategic roadmap for remediation, empowering organizations to enhance their cybersecurity posture</h6>
				</div>
			</div>	
		</div>
	</section>
	<!-- End Services -->
	<!-- Tools -->
	<section class="section section-lg bg-tertiary">
		<div class="container">
		  <h2 class="fw-bolder display-2 text-center">Tools</h2>
		  <div class="row">
			<div class="col-sm mb-5 mb-lg-0">
				<div class="text-center">
					<img class="small-card rounded shadow border-0" src="https://nmap.org/images/sitelogo-nmap.svg" alt="Nmap logo">
					<p class="fw-bold mt-2">NMAP</p>
				</div>
			</div>
			<div class="col-sm mb-5 mb-lg-0">
				<div class="text-center">
					<img class="small-card rounded shadow border-0" src="https://avatars.githubusercontent.com/u/13749115" alt="burp suite logo">
					<p class="fw-bold mt-2">Burp Suite</p>
				</div>
			</div>
			<div class="col-sm mb-5 mb-lg-0">
				<div class="text-center">
					<img class="small-card rounded shadow border-0" src="https://avatars.githubusercontent.com/u/6716868" alt="OWASP ZAP logo">
					<p class="fw-bold mt-2">OWASP ZAP</p>
				</div>
			</div>
			<div class="col-sm mb-5 mb-lg-0">
				<div class="text-center">
					<img class="small-card rounded shadow border-0" src="{% static "assets/img/pages/appattack/coverity-logo-svg-vector.svg" %}" alt="Coverity logo">
					<p class="fw-bold mt-2">Coverity</p>
				</div>
			</div>
			<div class="col-sm mb-5 mb-lg-0">
				<div class="text-center">
					<img class="small-card rounded shadow border-0" src="{% static "assets/img/pages/appattack/veracode.svg" %}" alt="veracode logo">
					<p class="fw-bold mt-2">Veracode</p>
				</div>
			</div>
			<div class="col-sm mb-5 mb-lg-0">
				<div class="text-center">
					<img class="small-card rounded shadow border-0" src="https://avatars.githubusercontent.com/u/15811295" alt="checkmarx logo">
					<p class="fw-bold mt-2">Checkmarx</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End Tools -->
	<!-- Join Us -->
	<section class="section section-md">
		<div class="container">
			<div class="row mb-5">
				<div class="col-12 mt-5">
					<div class="card shadow mb-6">
						<div class="card-body px-5 py-5 text-center text-md-left">
							<div class="row align-items-center">
								<div class="col-md-6">
									<h2 class="mb-3">Join Us Today!</h2>
									<p class="mb-0">
										Empower your future in cybersecurity! Join AppAttack and contribute to shaping a secure digital landscape. Explore opportunities, join us today!
									</p>
								</div>
								<div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
									<a href="{% url 'appattack_join' %}" class="btn btn-primary">
										<span class="me-1">
											<span class="fas fa-handshake"></span>
										</span>
										Join Us
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- End Join Us -->



</main>

{% endblock content %}
