
{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<head>

	<title>AppAttack</title>
</head>

<main>
    {% include 'includes/pre-loader.html' %}

    <!-- Hero Section -->
    <section class="section-header bg-tertiary text-black py-5">
		<div class="px-4 py-5 my-5 text-center">
			<h1 class="fw-bold display-1">AppAttack</h1>
			<img width="500" height="500" src="{% static 'assets/img/pages/appattack/appattack-hero-1.svg' %}" alt="Hero image">
			<div class="col-lg-6 mx-auto">
			  <p class="lead mb-4">Click on one of the buttons below to explore how AppAttack empowers organizations to proactively safeguard their digital assets</p>
			  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
			</head>
			<body>
			  <button type="button" class="btn btn-primary btn-lg px-4 gap-3" id="penTesting">Pen-Testing</button>
			  <button type="button" class="btn btn-primary btn-lg px-4 gap-3" id="secureCodeReview">Secure Code Review</button>
			  <button type="button" class="btn btn-primary btn-lg px-4 gap-3" id="comprehensiveReports">Comprehensive Reports</button>
			  
			  <script> src=document.getElementById("penTesting").addEventListener("click", function() {
				window.location.href = "{% url 'pen-testing' %}";
			  });
			  document.getElementById("secureCodeReview").addEventListener("click", function() {
				window.location.href = "{% url 'secure-code-review' %}";
			  });
			  document.getElementById("comprehensiveReports").addEventListener("click", function() {
				window.location.href = "{% url 'comphrehensive_report' %}";
			  });
			</script>
			</body>
			</html>
			
					

				
			  </div>
			</div>
		</div>
    </section>
	<!-- End of Hero Section -->
	<!-- Tools -->
	<section class="section section-lg bg-tertiary">
		<div class="container">
		  <h2 class="fw-bolder display-2 text-center">Tools</h2>
		  <div class="row">
			<div class="col-sm mb-5 mb-lg-0">
				<div class="text-center">
					<img class="small-card rounded shadow border-0" src="https://nmap.org/images/sitelogo-nmap.svg" alt="Nmap logo">
					<p class="fw-bold mt-2">NMAP</p>
				</div>
			</div>
			<div class="col-sm mb-5 mb-lg-0">
				<div class="text-center">
					<img class="small-card rounded shadow border-0" src="https://avatars.githubusercontent.com/u/13749115" alt="burp suite logo">
					<p class="fw-bold mt-2">Burp Suite</p>
				</div>
			</div>
			<div class="col-sm mb-5 mb-lg-0">
				<div class="text-center">
					<img class="small-card rounded shadow border-0" src="https://avatars.githubusercontent.com/u/6716868" alt="OWASP ZAP logo">
					<p class="fw-bold mt-2">OWASP ZAP</p>
				</div>
			</div>
			<div class="col-sm mb-5 mb-lg-0">
				<div class="text-center">
					<img class="small-card rounded shadow border-0" src="{% static "assets/img/pages/appattack/coverity-logo-svg-vector.svg" %}" alt="Coverity logo">
					<p class="fw-bold mt-2">Coverity</p>
				</div>
			</div>
			<div class="col-sm mb-5 mb-lg-0">
				<div class="text-center">
					<img class="small-card rounded shadow border-0" src="{% static "assets/img/pages/appattack/veracode.svg" %}" alt="veracode logo">
					<p class="fw-bold mt-2">Veracode</p>
				</div>
			</div>
			<div class="col-sm mb-5 mb-lg-0">
				<div class="text-center">
					<img class="small-card rounded shadow border-0" src="https://avatars.githubusercontent.com/u/15811295" alt="checkmarx logo">
					<p class="fw-bold mt-2">Checkmarx</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End Tools -->
	<!-- Join Us -->
	<section class="section section-md">
		<div class="container">
			<div class="row mb-5">
				<div class="col-12 mt-5">
					<div class="card shadow mb-6">
						<div class="card-body px-5 py-5 text-center text-md-left">
							<div class="row align-items-center">
								<div class="col-md-6">
									<h2 class="mb-3">Join Us Today!</h2>
									<p class="mb-0">
										Empower your future in cybersecurity! Join AppAttack and contribute to shaping a secure digital landscape. Explore opportunities, join us today!
									</p>
								</div>
								<div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
									<a href="{% url 'appattack_join' %}" class="btn btn-primary">
										<span class="me-1">
											<span class="fas fa-handshake"></span>
										</span>
										Join Us
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- End Join Us -->



</main>

{% endblock content %}
