{% extends 'layouts/base.html' %}
{% load static %}

{% block header %}
{% include 'includes/navigation.html' %}
{% endblock header %}

{% block content %}
<main>
    {% include 'includes/pre-loader.html' %}

    <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark"
        data-background="{% static 'assets/img/pages/sign-up/sign-up-bg.svg' %}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-17 d-flex align-items-center justify-content-center">
                    <div
                        class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-6">
                            <img src="{% static 'assets/img/pages/login/favicon.ico' %}" alt="Logo" class="mb-3">
                            <h1 class="mb-0 h3">Reset Your Passkeys</h1>
                            <p>Enter your details to request new passkeys.</p>
                        </div>
                        
                        <form method="POST">
                            {% csrf_token %}

                            <div class="form-group mb-4">
                                <label for="email">Email</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3">
                                        <span class="fas fa-envelope"></span>
                                    </span>
                                    <input type="email" id="email" name="email" class="form-control"
                                        placeholder="Enter your email" required>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <label for="last_name">Last Name</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon4">
                                        <span class="fas fa-user"></span>
                                    </span>
                                    <input type="text" id="last_name" name="last_name" class="form-control"
                                        placeholder="Enter your last name" required>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <label for="password">Password</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon5">
                                        <span class="fas fa-lock"></span>
                                    </span>
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="Enter your password" required>
                                </div>
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-warning btn-primary">
                                    Request OTP for Passkey Reset
                                </button>
                            </div>
                        </form>

                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="fw-normal">
                                <a href="{% url 'passkey_login' %}" class="fw-bold text-underline">Back to Passkey Login</a>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'includes/footer.html' %}
</main>
{% endblock content %}

{% block footer %}{% endblock footer %}
